<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Agencias</title>
</head>
<body>
    <h1>Agencias</h1>

    <h2>Veja a lista das agencias</h2>

    <div th:if="${#messages}"></div>

    <div>
        <a th:href="@{/agencias/create}">Criar</a>
    </div>

    <table>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Numero</th>
            <th scope="col">Endereço</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="agencia, count : ${agencias}">
            <th scope="row" th:text="${count.count}"></th>
            <td><p th:text="${agencia.numero}"></p></td>
            <td><p th:text="${agencia.endereco}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>