<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema Bancario</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Menu</h1>
            <ul>
                <li>
                    <a th:href="@{/agencias/create}" >Ver agências</a>
                </li>
                <li>
                    <a th:href="@{/clientes/create}" >Cadastrar cliente</a>
                </li>
                <li>Cadastrar Conta Especial</li>
                <li>Pesquisar Conta Especial usando número</li>
                <li>Pesquisar Conta Especial usando número da agencia</li>
                <li>Pesquisar Conta Especial usando cpf do cliente</li>
                <li>Sair</li>
            </ul>
        </div>
    </div>

</body>
</html>