<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Conta Especial</title>
</head>
<body>
<h1>Cadastrar Conta Especial</h1>

<form th:action="@{/contas_especiais/create}" th:method="post" th:object="${conta_especial}">
    <input type="hidden" id="id" th:field="*{id}"/>

    <label>Cliente</label>


    <label th:for="limite">Limite</label>
    <input th:type="text" id="limite" th:field="*{limite}" th:required="true" placeholder="200">

    <button th:type="submit">Cadastrar</button>

</form>
</body>
</html>